<h1>Listado de usuarios: </h1>
<table style="width: 35%" border="1">
  <tr>
    <th style="padding: 5px; text-align: center">Usuario</th>
    <th style="padding: 5px; text-align: center">Nombre y apellidos</th>
    <th style="padding: 5px; text-align: center">Email</th>
    <th style="padding: 5px; text-align: center">Borrar usuario</th>
  </tr>
  <tr *ngFor="let user of userList | async">
    <td style="padding: 5px">{{ user.userId }}</td>
    <td style="padding: 5px">{{ user.name }}</td>
    <td style="padding: 5px">{{ user.email }}</td>
    <td style="padding: 5px"><a (click)="delete($event, user.id)">Eliminar</a></td>
  </tr>
</table>
<br>
<button [routerLink]="['/newuser']">Nuevo usuario</button>
